In [ ]:
!pip install bs4
!pip install requests

In [8]:
#1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.
from bs4 import BeautifulSoup
import requests
def geturl(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    header=soup.find_all(['h1','h2','h3','h4','h5','h6'])
    print('All the Header Tags \n')
    for i in header:
        print(i.text.strip())     
geturl('https://en.wikipedia.org/wiki/Main_Page')

All the Header Tags

Main Page
From today's featured article
Did you know ...
In the news
On this day
From today's featured list
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu
Personal tools
Namespaces
Variants
Views
More
Search
Navigation
Contribute
Tools
Print/export
In other projects
Languages

In [2]:
#2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of
#release) and make data frame.

#"https://www.imdb.com/chart/top?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=cb6cf75a-1a51-49d1-af63-8202cfc3fb01&pf_rd_r=6QJ247G0N9NXM68DVPP0&pf_rd_s=right-4&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_ql_3"

from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
def getimdbdata(url):
    page = requests.get(url)
    soup = bs(page.text,'html.parser')
    movies=[]
    rlsyears=[]
    ratings=[]
    for i in soup.find_all('tbody',class_="lister-list"):
        for j in i.find_all("a"): movies.append(j.text.strip())
    for i in soup.find_all('span',class_="secondaryInfo"): rlsyears.append(i.text)
    for i in soup.find_all('td',class_="ratingColumn imdbRating"): ratings.append(i.text.replace('\n',''))
    movies= list(filter(None, movies))
    tops=pd.DataFrame({'Name':movies,'Year':rlsyears,'Rating':ratings})
    tops = tops.rename(index = lambda x: x+1)
    return tops.head(100)
getimdbdata('https://www.imdb.com/chart/top?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=cb6cf75a-1a51-49d1-af63-8202cfc3fb01&pf_rd_r=6QJ247G0N9NXM68DVPP0&pf_rd_s=right-4&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_ql_3')

                                      Name    Year Rating
1                 The Shawshank Redemption  (1994)    9.2
2                            The Godfather  (1972)    9.1
3                   The Godfather: Part II  (1974)    9.0
4                          The Dark Knight  (2008)    9.0
5                             12 Angry Men  (1957)    8.9
..                                     ...     ...    ...
96                                  Jagten  (2012)    8.3
97                            Idi i smotri  (1985)    8.3
98                     Singin' in the Rain  (1952)    8.3
99                      North by Northwest  (1959)    8.3
100  Eternal Sunshine of the Spotless Mind  (2004)    8.3

[100 rows x 3 columns]

In [3]:
#3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year 
#of release) and make data frame.
    
#"https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=8a7876cd-2844-4017-846a-2c0876945b7b&pf_rd_r=0B4VQKBRXSZMZE916Q7R&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1"

from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
def topindianmovies(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    movies=[]
    rlsyears=[]
    ratings=[]
    for i in soup.find_all('tbody',class_="lister-list"):
        for j in i.find_all("a"): movies.append(j.text.strip())
    for i in soup.find_all('span',class_="secondaryInfo"): rlsyears.append(i.text)
    for i in soup.find_all('td',class_="ratingColumn imdbRating"): ratings.append(i.text.replace('\n',''))
    movies= list(filter(None, movies))
    tops=pd.DataFrame({'Name':movies,'Year':rlsyears,'Rating':ratings})
    tops = tops.rename(index = lambda x: x+1)
    return tops.head(100)    
topindianmovies('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=8a7876cd-2844-4017-846a-2c0876945b7b&pf_rd_r=0B4VQKBRXSZMZE916Q7R&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1')

                         Name    Year Rating
1             Pather Panchali  (1955)    8.5
2                     Nayakan  (1987)    8.5
3           Pariyerum Perumal  (2018)    8.5
4                  Anbe Sivam  (2003)    8.5
5                     Golmaal  (1979)    8.5
..                        ...     ...    ...
96            Andaz Apna Apna  (1994)    8.1
97                  Virumandi  (2004)    8.1
98   Uri: The Surgical Strike  (2018)    8.1
99                         PK  (2014)    8.1
100                     Lucia  (2013)    8.1

[100 rows x 3 columns]

In [1]:
#4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
#‘www.bookpage.com’

#"https://bookpage.com/reviews"

from bs4 import BeautifulSoup
import requests
import pandas as pd
def bookinfo(url):    
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    bnames=[]
    nauthors=[]
    genres=[] 
    breviews=[] 
    for i in soup.find_all('h4',class_="italic"):bnames.append(i.text.replace('\n',''))
    for i in soup.find_all('p',class_="sans bold"):nauthors.append(i.text.replace('\n',''))
    for i in soup.find_all('p',class_="genre-links hidden-phone"): genres.append(i.text.replace('\n',''))
    for i in soup.find_all('p',class_="excerpt"): breviews.append(i.text.replace('\n',''))
    bdetails = pd.DataFrame({})
    bdetails['Book_Name']=bnames
    bdetails['Author_Name']=nauthors 
    bdetails['Genre_Name']=genres
    bdetails['Book_Reviews']=breviews
    bdetails = bdetails.rename(index = lambda x: x+1)
    return bdetails.head(5)
bookinfo('https://bookpage.com/reviews')

,Book_Name,Author_Name,Genre_Name,Book_Reviews
1,The Woman They Could Not Silence,Kate Moore,Nonfiction / History / Women's History,"In the 19th century, a brave, brilliant and co..."
2,Under a Dancing Star,Laura Wood,YA / YA Fiction,Under a Dancing Star is an effervescent retell...
3,Yoke,Jessamyn Stanley,"Nonfiction / Essays / Body, Mind & Spirit",The 13 autobiographical essays in Yoke are bra...
4,Leaving Isn’t the Hardest Thing,"Lauren Hough, Cate Blanchett",Audio / Nonfiction / Essays,Author Lauren Hough and actor-producer Cate Bl...
5,The Rose Code,"Kate Quinn, Saskia Maarleveld",Audio / Fiction / Historical Fiction,"The Rose Code is a terrific story, brilliantly..."

In [31]:
#5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
#i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

#"https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

from bs4 import BeautifulSoup
import requests
import pandas as pd
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
def modiinfo(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    modis=[]
    matchs=[]
    points=[]
    ranks=[]
    for i in soup.find_all('span',class_="u-hide-phablet"):modis.append(i.text)
    modis= list(filter(None, modis))
    bmatch=[]
    for i in soup.find_all('td',class_="rankings-block__banner--matches"): bmatch.append(i.text)   
    for i in soup.find_all('td',class_="table-body__cell u-center-text") : matchs.append(i.text)
    nmatchs=[matchs[i] for i in range(0,len(matchs),2)]
    Amatchs=bmatch+nmatchs
    bpoint=[]
    for i in soup.find_all('td',class_="rankings-block__banner--points"): bpoint.append(i.text)
    for i in soup.find_all('td',class_="table-body__cell u-center-text"):points.append(i.text)
    npoints=[points[i] for i in range(0,len(points),2)]
    Apoints=bpoint+npoints
    for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):ranks.append(i.text.replace("\n",''))
    for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):ranks.append(i.text)
    odis = pd.DataFrame({'Country':modis,'Match':Amatchs,'Point':Apoints,'Ranking':ranks})
    odis = odis.rename(index = lambda x: x+1)
    return odis.head(10)
modiinfo('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

,Country,Match,Point,Ranking
1,New Zealand,17,"2,054",121 ...
2,Australia,25,25,118
3,India,29,29,115
4,England,27,27,115
5,South Africa,20,20,107
6,Pakistan,24,24,97
7,Bangladesh,27,27,90
8,West Indies,27,27,82
9,Sri Lanka,24,24,78
10,Afghanistan,17,17,62

In [32]:
#ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

#"https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

from bs4 import BeautifulSoup
import requests
import pandas as pd
def odibatsmeninfo(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    mplayer=[]
    mnation=[]
    mranks=[]
    for i in soup.find_all('div',class_="rankings-block__banner--name-large"): mplayer.append(i.text) 
    for i in soup.find_all('div',class_="rankings-block__banner--nationality"): mnation.append(i.text.replace('\n','')) 
    for i in soup.find_all('div',class_="rankings-block__banner--rating"): mranks.append(i.text)
    for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
        for j in i.find_all("a"): mplayer.append(j.text.strip())
    for i in soup.find_all('span',class_="table-body__logo-text"): mnation.append(i.text.replace('\n',''))
    for i in soup.find_all('td',class_="table-body__cell rating"): mranks.append(i.text)
    modis = pd.DataFrame({'player':mplayer,'nationality':mnation,'Ranking':mranks})
    modis = modis.rename(index = lambda x: x+1)
    return modis.head(10)
odibatsmeninfo('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

                 player nationality Ranking
1            Babar Azam         PAK     865
2           Virat Kohli         IND     857
3          Rohit Sharma         IND     825
4           Ross Taylor          NZ     801
5           Aaron Finch         AUS     791
6        Jonny Bairstow         ENG     785
7          Fakhar Zaman         PAK     778
8   Francois du Plessis          SA     778
9          David Warner         AUS     773
10            Shai Hope          WI     773

In [33]:
#iii) Top 10 ODI bowlers along with the records of their team and rating.

#"https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

from bs4 import BeautifulSoup
import requests
import pandas as pd
def odibowlerinfo(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    mplayer=[]
    mnation=[]
    mranks=[]
    for i in soup.find_all('div',class_="rankings-block__banner--name-large"): mplayer.append(i.text) 
    for i in soup.find_all('div',class_="rankings-block__banner--nationality"): mnation.append(i.text.replace('\n','')) 
    for i in soup.find_all('div',class_="rankings-block__banner--rating"): mranks.append(i.text) 
    for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
        for j in i.find_all("a"): mplayer.append(j.text.strip())
    for i in soup.find_all('span',class_="table-body__logo-text"): mnation.append(i.text.replace('\n',''))
    for i in soup.find_all('td',class_="table-body__cell rating"): mranks.append(i.text)
    modis = pd.DataFrame({'Player':mplayer,'Nationality':mnation,'Ranking':mranks})
    modis = modis.rename(index = lambda x: x+1)
    return modis.head(10)
odibowlerinfo('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

               Player Nationality Ranking
1         Trent Boult          NZ     737
2        Mehedi Hasan         BAN     713
3    Mujeeb Ur Rahman         AFG     708
4          Matt Henry          NZ     691
5      Jasprit Bumrah         IND     690
6       Kagiso Rabada          SA     666
7        Chris Woakes         ENG     665
8      Josh Hazlewood         AUS     660
9         Pat Cummins         AUS     646
10  Mustafizur Rahman         BAN     645

In [34]:
#6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
#i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

#https://www.icc-cricket.com/rankings/womens/team-rankings/odi

from bs4 import BeautifulSoup
import requests
import pandas as pd    
def wodiinfo(url):   
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    wmodis=[]
    wmatchs=[]
    wpoints=[]
    wranks=[]
    for i in soup.find_all('span',class_="u-hide-phablet"):wmodis.append(i.text)
    wmodis= list(filter(None, wmodis))
    bmatch=[]
    for i in soup.find_all('td',class_="rankings-block__banner--matches"): bmatch.append(i.text)   
    for i in soup.find_all('td',class_="table-body__cell u-center-text") : wmatchs.append(i.text)
    nmatchs=[wmatchs[i] for i in range(0,len(wmatchs),2)]
    Amatchs=bmatch+nmatchs
    bpoint=[]
    for i in soup.find_all('td',class_="rankings-block__banner--points"): bpoint.append(i.text)
    for i in soup.find_all('td',class_="table-body__cell u-center-text"):wpoints.append(i.text)
    npoints=[wpoints[i] for i in range(0,len(wpoints),2)]
    Apoints=bpoint+npoints
    for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):wranks.append(i.text.replace("\n",''))
    for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):wranks.append(i.text)
    wodis = pd.DataFrame({'Country':wmodis,'Match':Amatchs,'Point':Apoints,'Ranking':wranks})
    wodis = wodis.rename(index = lambda x: x+1)
    return wodis.head(10)
wodiinfo('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

,Country,Match,Point,Ranking
1,Australia,18,"2,955",164 ...
2,South Africa,24,24,118
3,England,17,17,117
4,India,20,20,111
5,New Zealand,21,21,93
6,West Indies,12,12,85
7,Pakistan,15,15,73
8,Bangladesh,5,5,61
9,Sri Lanka,11,11,47
10,Ireland,2,2,13

In [35]:
#ii) Top 10 women’s ODI players along with the records of their team and rating.

#https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting

from bs4 import BeautifulSoup
import requests
import pandas as pd
def woditeam(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    wplayer=[]
    wnation=[]
    wranks=[]
    for i in soup.find_all('div',class_="rankings-block__banner--name-large"): wplayer.append(i.text) 
    for i in soup.find_all('div',class_="rankings-block__banner--nationality"): wnation.append(i.text.replace('\n','')) 
    for i in soup.find_all('div',class_="rankings-block__banner--rating"): wranks.append(i.text) 
    for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
        for j in i.find_all("a"): wplayer.append(j.text.strip())
    for i in soup.find_all('span',class_="table-body__logo-text"): wnation.append(i.text.replace('\n',''))
    for i in soup.find_all('td',class_="table-body__cell rating"): wranks.append(i.text)
    wodis = pd.DataFrame({'player':wplayer,'nationality':wnation,'Ranking':wranks})
    wodis = wodis.rename(index = lambda x: x+1)
    return wodis.head(10)
woditeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

               player nationality Ranking
1      Tammy Beaumont         ENG     765
2         Lizelle Lee          SA     758
3        Alyssa Healy         AUS     756
4     Stafanie Taylor          WI     746
5         Meg Lanning         AUS     723
6   Amy Satterthwaite          NZ     715
7     Smriti Mandhana         IND     710
8         Mithali Raj         IND     709
9      Natalie Sciver         ENG     685
10    Laura Wolvaardt          SA     683

In [36]:
#iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

#https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder

from bs4 import BeautifulSoup
import requests
import pandas as pd
def wodiallrounder(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    wplayer=[]
    wnation=[]
    wranks=[]
    for i in soup.find_all('div',class_="rankings-block__banner--name-large"): wplayer.append(i.text) 
    for i in soup.find_all('div',class_="rankings-block__banner--nationality"): wnation.append(i.text.replace('\n','')) 
    for i in soup.find_all('div',class_="rankings-block__banner--rating"): wranks.append(i.text) 
    for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
        for j in i.find_all("a"): wplayer.append(j.text.strip())
    for i in soup.find_all('span',class_="table-body__logo-text"): wnation.append(i.text.replace('\n',''))
    for i in soup.find_all('td',class_="table-body__cell rating"): wranks.append(i.text)    
    wodis = pd.DataFrame({'player':wplayer,'nationality':wnation,'Ranking':wranks})
    wodis = wodis.rename(index = lambda x: x+1)
    return wodis.head(10)    
wodiallrounder('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

              player nationality Ranking
1     Marizanne Kapp          SA     418
2       Ellyse Perry         AUS     418
3    Stafanie Taylor          WI     410
4     Natalie Sciver         ENG     349
5      Deepti Sharma         IND     343
6      Jess Jonassen         AUS     307
7   Ashleigh Gardner         AUS     252
8   Dane van Niekerk          SA     243
9      Sophie Devine          NZ     242
10       Amelia Kerr          NZ     236

In [23]:
# Empty List


#7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The 
#scraped data should include Product Name, Price, Image URL and Average Rating.


#https://www.amazon.in/s?bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&qid=1624119293&rnid=1318502031&ref=lp_1389401031_nr_p_36_3

from bs4 import BeautifulSoup
import requests
import pandas as pd
def mobileinfo(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    pnames=[]
    prices=[]
    imageurls=[] 
    avgratings=[] 
    for i in soup.find_all('span',class_="a-size-base-plus a-color-base a-text-normal"):pnames.append(i.text)
    for i in soup.find_all('span',class_="a-price-whole"):prices.append(i.text)
    for i in soup.find_all('div',class_="s-image"):imageurls.append(i.text) 
    for i in soup.find_all('span',class_="a-size-base"):avgratings.append(i.text)
    pdetails = pd.DataFrame({'Product Name':pnames,'Price':prices,'Image Link':imageurls,'Rating':avgratings})
    pdetails = pdetails.rename(index = lambda x: x+1)
    return pdetails
mobileinfo('https://www.amazon.in/s?bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&qid=1624119293&rnid=1318502031&ref=lp_1389401031_nr_p_36_3')

In [42]:
#8. Write a python program to extract information about the local weather from the National Weather Service 
#website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day 
#extended forecast display for the city. The data should include period, short description, temperature and 
#description.

#https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YM2UHfLivIV

from bs4 import BeautifulSoup
import requests
import pandas as pd
def weatherinfo(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    periods=[]
    sdescts=[]
    temps=[]
    descts=[]
    Addsp=['-','-','-','-']
    for i in soup.find_all('div',class_="col-sm-2 forecast-label"): periods.append(i.text)    
    for i in soup.find_all('p',class_="short-desc"): sdescts.append(i.text)
    ssdescts=sdescts+Addsp    
    for i in soup.find_all('p',class_="temp"): temps.append(i.text)
    stemps=temps+Addsp 
    for i in soup.find_all('div',class_="col-sm-10 forecast-text"): descts.append(i.text)    
    tdetail = pd.DataFrame({'Days':periods,'Short_Description':ssdescts,'Description':descts,'Temperature':stemps})
    tdetail = tdetail.rename(index = lambda x: x+1)   
    return tdetail   
weatherinfo('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YM2UHfLivIV')

,Days,Short_Description,Description,Temperature
1,Today,Partly Sunnythen Sunnyand Breezy,"Mostly cloudy, then gradually becoming sunny, ...",High: 69 °F
2,Tonight,IncreasingClouds,"Increasing clouds, with a low around 59. South...",Low: 59 °F
3,Tuesday,DecreasingClouds,"Mostly cloudy, then gradually becoming sunny, ...",High: 70 °F
4,Tuesday Night,Partly Cloudy,"Partly cloudy, with a low around 58. Southwest...",Low: 58 °F
5,Wednesday,Sunny,"Sunny, with a high near 69. West southwest win...",High: 69 °F
6,Wednesday Night,Partly Cloudy,"Partly cloudy, with a low around 56.",Low: 56 °F
7,Thursday,Sunny,"Sunny, with a high near 68.",High: 68 °F
8,Thursday Night,Partly Cloudy,"Partly cloudy, with a low around 56.",Low: 56 °F
9,Friday,Mostly Sunny,"Mostly sunny, with a high near 69.",High: 69 °F
10,Friday Night,-,"Partly cloudy, with a low around 57.",-
11,Saturday,-,"Sunny, with a high near 72.",-
12,Saturday Night,-,"Partly cloudy, with a low around 57.",-
13,Sunday,-,"Sunny, with a high near 74.",-

In [40]:
#9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, 
#company name, CTC, and apply date.

import pandas as pd
from bs4 import BeautifulSoup
import requests
def getdata(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    titles=[]
    comps=[]
    ctcs=[]
    applys=[]
    for i in soup.find_all('div',class_="heading_4_5 profile"):titles.append(i.text.replace('\n',''))
    for i in soup.find_all('a',class_="link_display_like_text"):comps.append(i.text.strip())
    for i in soup.find_all('div',class_="item_body"): applys.append(i.text.strip())
    ctcs=[applys[i] for i in range(1,len(applys),3)]
    results=[applys[i] for i in range(2,len(applys),3)]
    df=pd.DataFrame({'Job_Title':titles,
                     'Company_Names':comps,
                     'CTC':ctcs,'Apply_Date':results})
    df = df.rename(index = lambda x: x+1)
    return df   
getdata('https://internshala.com/fresher-jobs/page-1')

,Job_Title,Company_Names,CTC,Apply_Date
1,Administration Associate,Global Sun,3 - 3.2 LPA,21 Jul' 21
2,Recruiter,Radish Consultants Private Limited,3 - 5 LPA,21 Jul' 21
3,Associate Software Developer,Medico Healthcare Services & Technologies,3 - 3.2 LPA,21 Jul' 21
4,Project Coordinator,Edupixels,3 LPA,21 Jul' 21
5,Web Developer,Manufac Analytics Private Limited,3 - 4 LPA,19 Jul' 21
6,Software Engineer Trainee,Swabhav Techlabs,3 - 3.5 LPA,19 Jul' 21
7,Business Development Specialist (Sales & Marke...,Claraeon Learning Private Limited,3 LPA,19 Jul' 21
8,Business Development Executive,Picostone,3 - 6.5 LPA,19 Jul' 21
9,Associate Front End Developer,AIMonk Labs Technology Limited,6 - 7 LPA,18 Jul' 21
10,Corporate Sales Executive,369 Zoss Waters,3 - 5 LPA,18 Jul' 21
11,Associate Software Developer (Full-Stack - Rea...,SleekSky LLC,4 LPA,18 Jul' 21
12,Customer Relationship Specialist,InPhase Power Technologies,3 - 3.5 LPA,18 Jul' 21
13,Associate Editor Engagement,Cactus Communications Private Limited,3 - 4 LPA,18 Jul' 21
14,Management Consultant Associate,StrategyCo.Global,4.5 - 7 LPA,18 Jul' 21
15,Web Analytics Developer,DataVinci Private Limited,4.99 - 5 LPA,17 Jul' 21
16,Junior Social Media Marketing Manager,The Test Tribe,3 - 4 LPA,17 Jul' 21
17,Junior Social Media Marketing Associate,Glu Studios,3 - 3.6 LPA,17 Jul' 21
18,Business Development Manager (Digital Marketin...,Graygraph Technologies LLC,3 - 4.5 LPA,17 Jul' 21
19,Business Development Executive,BookLeaf Publishing,3 - 3.6 LPA,17 Jul' 21
20,Accountant,Ravi Ladia & Co,3 LPA,16 Jul' 21
21,Research Associate,Market Vistas Consumer Insights,3 - 3.25 LPA,17 Jul' 21
22,Assistant Coordinator - Tender Department,Global Source Trading LLC,3 LPA,16 Jul' 21
23,Customer Relationship Manager (Publishing Cons...,Blue Rose Publishers,3 - 3.5 LPA,16 Jul' 21
24,Executive Assistant To Director,Best Roadways Limited,3 LPA,17 Jul' 21
25,Learning Consultant - Sales,Geekster,3 - 3.5 LPA,16 Jul' 21
26,School/Teacher Consultant,InfyBytes AI Labs Private Limited,3 - 4 LPA,16 Jul' 21
27,Software Developer,Moxie.xyz,9 LPA,15 Jul' 21
28,Business Development Executive (Inside Sales),GREedge,3.75 LPA,15 Jul' 21
29,Web Developer,Fullmoon Outdoor Web Solutions,4 - 4.2 LPA,15 Jul' 21
30,Order Processor,InspectHOA,3 LPA,14 Jul' 21
31,Full Stack Developer,Nikulsan Technologies Private Limited,3.5 - 5 LPA,14 Jul' 21
32,Associate Software Developer,IQGateway,3.6 - 10 LPA,11 Jul' 21
33,Reactjs Developer,Startxlabs Technologies Private Limited,3 - 4 LPA,11 Jul' 21
34,Full Stack Developer,RavGins International Private Limited (Wobb.ai),3.3 - 4 LPA,11 Jul' 21
35,Business Development Executive,Varenyam Placements,3 - 4 LPA,11 Jul' 21
36,Corporate Sales Associate,HealthPlix Technologies Private Limited,3 - 4 LPA,11 Jul' 21
37,Inside Sales Associate,Wizklub Learning,3 - 6 LPA,11 Jul' 21
38,Mobile App Developer,Fusion Engineering,4.5 - 5.25 LPA,14 Jul' 21
39,Junior MERN Stack Developer,DeepThought Edutech Ventures Private Limited,3 - 5 LPA,15 Jul' 21
40,Education Innovation Manager,DeepThought Edutech Ventures Private Limited,3 - 5 LPA,10 Jul' 21

In [41]:
#10. Write a python program to scrape house details from mentioned url. It should include house title, location, 
#area, emi and price
#https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LC
#Jsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHki
#fV0=&propertyAge=0&radius=2.0"

#https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0


from bs4 import BeautifulSoup
import requests
import pandas as pd
def houseinfo(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    htitles=[]
    locations=[]
    allvalue=[] 
    areas=[] 
    emis=[]
    prices=[]
    for i in soup.find_all('h2',class_="heading-6 font-semi-bold nb__1AShY"):htitles.append(i.text)
    for i in soup.find_all(  'div',class_="nb__2CMjv"): locations.append(i.text)
    for i in soup.find_all('div',class_="font-semi-bold heading-6"):allvalue.append(i.text.replace('â\x82¹',''))
    areas=allvalue[0:len(allvalue):3]
    emis=allvalue[1:len(allvalue):3]
    prices=allvalue[2:len(allvalue):3]
    hdetails = pd.DataFrame({'House_Title':htitles,'Locations':locations,'Area':areas,'EMI':emis,'Cost':prices})
    hdetails = hdetails.rename(index = lambda x: x+1)
    return hdetails 
houseinfo('https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0')

,House_Title,Locations,Area,EMI,Cost
1,4 BHK In Independent House For Sale In Nagan...,"Independent House, Doddanagamangala Rd opposit...","1,200 sqft","45,851/Month",80 Lacs
2,4 BHK For Sale In Daadys Garden In Electronic...,"Daadys GardenÂ Kammasandra Rd, Kammasandra, E...","2,600 sqft","85,971/Month",1.5 Crores
3,4 BHK In Independent House For Sale In Sarja...,"Independent House, Shantipura Village , S.P L...","1,100 sqft","40,120/Month",70 Lacs
4,4 BHK Flat For Sale In Electronic City,"Standalone Building, Shikaripalya, near Shams ...","1,400 sqft","20,060/Month",35 Lacs
5,4 BHK In Independent House For Sale In Elect...,"Independent House, Krishna reddy layout-Near ...","2,500 sqft",1.43 Lacs/Month,2.5 Crores
6,4 BHK In Independent House For Sale In Elect...,"Independent House, Dhruv Dhama LayoutNear Hedd...","2,400 sqft","51,583/Month",90 Lacs
7,4 BHK Apartment For Sale In Gopalan Gardenia...,"Gopalan GardeniaÂ Gopalan gardenia, Veerasand...","2,650 sqft","63,045/Month",1.1 Crores
8,4 BHK Flat For Sale In Electronic City,"Standalone Building, Konappana Agrahara, Near ...","1,120 sqft","28,657/Month",50 Lacs
9,4 BHK Flat For Sale In Heena Enclave In Elec...,"Neeladri Nagar,Near Pioneer Sun Blossom","2,350 sqft","71,643/Month",1.25 Crores
10,4 BHK In Independent House For Sale In Anant...,"Independent House, Glass factory Outlet nd cro...","2,200 sqft","56,168/Month",98 Lacs